@using OdeToFood.Controllers
@model OdeToFood.Entities.Restaurant

<h2>@Model.Name</h2>
<div>
    Id: @Model.Id
</div>
<div>
    Cuisine: @Model.Cuisine
</div>
<div>
    @Html.ActionLink("Home", "Index")
</div>


