@model OdeToFood.ViewModels.HomePageViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
</head>
<body>
    <h1>Hello @Model.CurrentMessage</h1>
    <table>
        @foreach(var restaurant in Model.Restaurants)
        {
            <tr>
                <td><a href="Home/Details/@restaurant.Id">Details</a></td>
                <td>@Html.ActionLink("View", "Details", new { id = restaurant.Id })</td>
                <td>@restaurant.Name</td>     
            </tr>

        }
    </table>
 </body>
</html>
